/* Global styles */

body {
    font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,Oxygen,Ubuntu,Cantarell,open sans,helvetica neue,sans-serif;
	font-feature-settings: "liga", "kern";
	background-color: #1d1e20;
}

/* Fix jumping scrollbar when switching to long pages */

html {
	margin-left: calc(100vw - 100%);
	margin-right: 0;
}

/* link */

a {
	color: #d2d2d2;
	text-decoration: underline;
	background-color: transparent;
}

a:active, a:hover {
	outline-width: 0;
}

a:hover, a:focus {
	text-decoration: underline;
}

a.nav-link:hover, a.nav-link:focus {
	text-decoration: underline;
}

/* horizontal rule */

hr {
	height: 0;
	border: 2px solid #e5e5e5;
	border-radius: 2px;
}

.content .markdown hr {
	margin-left: 1.5rem;
	margin-right: 1.5rem;
}

kbd {
  font-family: "Ubuntu Mono", monospace;
  padding: .2rem .4rem;
  font-size: .875em;
  color: #fff;
  background-color: #212529;
  border-radius: .2rem;
}

kbd kbd {
  padding: 0;
  font-size: 1em;
  font-weight: 700;
}

.mark, mark {
  padding: .2em;
  background-color: #fcf8e3;
}

/* post list */

ul.postlist {
	list-style: none;
}

/* Partial: Header */

header {
	margin-top: 3.2rem;
	overflow: auto;
}

header a {
	text-decoration: none;
}

header a:hover {
	text-decoration: none;
}

header h1.site-name {
	text-align: center;
	font-weight: 600;
	font-size: 2.2rem;
	color: #d2d2d2;
	margin: 0;
}

header ul.nav {
	height: auto;
	margin-top: 6px;
	margin-bottom: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	padding: 0;
}

header ul.nav li {
	display: block;
	margin: .5rem 1rem;
	font-size: 1rem;
}

/* Partial: Blog single */

div.tags {
	display: inline;
}
div.tags ul {
	list-style: none;
	display: inline;
	padding: 0;
}
div.tags ul li {
	display: inline;
}



/* Partial: Content */

div.content {
	align: center;
	margin: 0 auto 60px;
    width: 800px;
}

.content p:lang(zh) {
}

.content p {
    line-height: 1.7rem;
}

.content h1 {
    margin: 40px auto 32px;
    /*font-size: 41px;*/
    font-size: 2.15rem;
    color: #52D7A9;
}

.content h2 {
    margin: 32px auto 24px;
    /*font-size: 33px;*/
    font-size: 1.75rem;
    color: #52D7A9; 
}

.content h3 {
    margin: 24px 0 16px;
    /*font-size: 22px;*/
    font-size: 1.3rem;
    color: #dadadb;
    line-height: 1.2rem;
}

.content h3::before {
    content: "# ";
    color: #52D7A9; 
    font-weight: bold;
}

.content h4 {
    margin: 24px 0 16px;
    /*font-size: 16px;*/
    font-size: 1rem;
    text-decoration: underline;
    line-height: 1.2rem;
}

.content h5 {
    margin: 24px 0 16px;
    /*font-size: 14px;*/
    font-size: 1.3rem;
}

.content h6 {
    margin: 24px 0 16px;
}

.content .meta {
	font-weight: 400;
	font-size: 1rem;
	color: #738491;
	margin-bottom: 10px;
}

.content .meta a {
	text-decoration: none;
}

.content .middot:before {
	margin: 0 3px;
	content: "·";
}

.content .caption {
	text-align: center;
	margin-top: 10px;
	color: #586069;
	font-size: 0.9rem;
}

.content .markdown {
	font-weight: 400;
	font-size: 1rem;
	color: #c4c4c5;
	line-height: 1.75rem;
}

.content .markdown li {
	margin-top: 0rem;
	margin-bottom: 0rem;
}

.content twitterwidget {
	margin: auto;
}

/* blog post typography */

.content .blog-post-title {
	font-size: 2.15rem;
	line-height: 2.625rem;
    margin-bottom: 0.2rem;
}

.content .blog-post-content {
	font-size: 15px;
	line-height: 2rem;
}

.content ol, ul {
    padding-inline-start: 20px;
    font-feature-settings: "pwid";
}

/* centered, boxed blog post images */

.content img {
	display: block;
	margin-top: 1rem;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%;
}

/* CSS for code highlighting.  */
/* Modified for using pygments/chroma instead of higlightjs */
.content .markdown code, .content .markdown pre {
	font-family: "Ubuntu Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.highlight{
	overflow-x: auto;
	margin: 1rem 0rem;
	border-radius: 4px;
	/* background: #282923; */
	/* background: #3e3d32; */
	-webkit-border-radius: 4px;
	max-width: 100% !important;
}

/* enclosed by single backtick (`) */
.content .markdown :not(pre) > code {
	color: #333;
	padding: .2em .4em;
	margin: 0;
	background-color: rgba(27, 31, 35, .05);
	border-radius: 6px;
}

/* Hugo specific: consider using the 'highlight' shortcode */
.content .markdown pre{
	display: block;
	padding: 1rem;
	line-height: 24px;
	white-space: pre;
	word-break: break-all;
	word-wrap: break-word;
	border: 0;
	font-size: 1rem;
}

.content .markdown pre:not(.chroma){
	border: 1px solid #ddd;
}

/* For code highlignting when linenos=table */
.content .chroma table{
	border-collapse: collapse !important;
	border: none !important;
	max-width: 100%;
}
.content .chroma table tr{
	border: none !important;
}
.content .chroma table pre{
	margin: 0;
	display: block;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	line-height: 24px;
	white-space: pre;
	word-break: break-all;
	word-wrap: break-word;
}
.content .chroma table td:nth-child(1) pre{
	padding-left: 1rem;
	padding-right: 0.5rem;
}
.content .chroma table td:nth-child(2) pre{
	padding-left: 0.5rem;
	padding-right: 1rem;
}

.content div.chroma{
	max-width: 100%;
	margin: 0;
}
.content pre.chroma{
	max-width: 100%;
	margin: 0;
}

.content .date {
	font-size: 0.9rem;
	color: #999083;
    line-height: 1.5rem;
}

.content .markdown blockquote {
	padding: 0.5rem 0.5rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	color: #7a7a7a;
	border-left: 0.25rem solid #e5e5e5;
}

.content .markdown blockquote p {
	margin-left: 1rem;
	margin-right: 1rem;
}

.content .markdown blockquote p:last-child {
	margin-bottom: 0;
}

.content .markdown figure {
	background: #fff;
}

.content .post-item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flexbox;
	display: -ms-flex;
	display: flex;
	margin-bottom: 1rem;
}

.content .meta-title {
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
}

.content .meta-title {
	font-size: 1.6rem;
	font-weight: 600;
}

.content .meta-title a {
	text-decoration: none;
}

.content .meta-title a:hover {
	text-decoration: underline;
}

.content .meta-date {
	font-size: 0.9rem;
	color: #999083;
	margin-bottom: 2.5rem;
}

.content .navigation .icon {
	width: 16px;
	height: 16px;
}

.content table{
	margin-bottom: 1rem;
	display: block;
	width: 100%;
	overflow: auto;
	background-color: transparent;
	border-spacing: 0;
	border-collapse: collapse;
	box-sizing: border-box;
}

.content table tr {
	background-color: #fff;
	border-top: 1px solid #ccc;
}

.content table th, .content table td {
	padding: 6px 13px;
	border: 1px solid #ddd;
}

.content table tr:nth-child(2n) {
	background-color: #f8f8f8;
}

/* medium screens */

@media (max-width: 767.98px) {
	html {
		font-size: 0.9rem;
	}
}


